[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=ec2-user
ExecStart=/bin/sh -c '/home/ec2-user/kafka/bin/kafka-server-start.sh /home/ec2-user/kafka/config/server.properties > /home/ec2-user/kafka/kafka.log 2>&1'
ExecStop=/home/ec2-user/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
